datadog_metrics:
  - name: http_availability
    query: "sum:http_requests{status:200} / sum:http_requests{*}"
    api_key: xxx
    application_key: xxx
    destination: stackdriver
  - name: total_bytes_sent
    query: "system.net.bytes_sent {*}"
    api_key: xxx
    application_key: xxx
    destination: another_stackdriver
newrelic_metrics:
  - name: total_call_time
    endpoint_base: "https://api.newrelic.com"
    endpoint_path: "/v2/applications/{application_id}/metrics/data.json"
    metric_data: {
      metric_name: HttpDispatcher
      metric_value: total_call_time_per_minute
    }
    api_key: xxx
    destination: stackdriver
stackdriver_destinations:
  - name: stackdriver
  - name: another_stackdriver
    project_id: "another-projectname"
